body 
{
  font-family: 'Montserrat', monospace;
}

/* CSS NAVBAR STARTS HERE */
header
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	margin: auto;
}

.navigationitemslist
{
	display: inline-flex;
	margin-left: 3%;
	margin-right: 3%;
	color: #1767AC;
}

.navigationitemslist:hover
{
	margin-bottom: 1%;
	font-weight: bold;
	transition: ease 0.2s;
	border-bottom: solid;
	border-bottom-color: #b30000;
}

.logo
{
	display: inline-flex;
	max-height: 70px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding-left: 2%;
	padding-right: 2%;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.navigationitems
{
	display: inline-block;
	align-items: center;
	align-content: space-around;
	justify-content: space-around;
	margin: auto;
	flex-grow: 3;
}

.headerbutton
{
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 3%;
	margin-bottom: 3%;
}

.headerbuttonitem
{
	border: solid #b30000;
	color: white;
	background-color: #b30000;
	border-radius: 2px;
	text-align: center;
	cursor: pointer;
	padding: 10px 15px 10px 15px;
}

.headerbuttonitem:hover
{
  border: solid #b30000;
  color: #b30000;
  background-color: white;
}
/* CSS NAVBAR FINISHES HERE */

/* CSS FORM STARTS HERE */
.contactustitle
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 5%;
}

.sectioncontactus
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
}

.imagecontactus
{
	display:flex;
	max-width: 40%;
}

form 
{
	display: flex;
	flex-direction: column;
	align-items: baseline;
	width: 100%;
	padding: 1%;
	border-radius: 5px;
	max-width: 50%;
	margin-left: 5%;
}

input, textarea 
{
	width: 90%;
	padding: 8px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

textarea 
{
	height: 150px;
	width: 90%;
}

button 
{
	width: 90%;
	padding: 2%;
	background-color: #b30000;
	color: #fff;
	border: solid #b30000;
	border-radius: 5px;
	cursor: pointer;
}

button:hover 
{
	border: solid #b30000;
	color: #b30000;
	background-color: white;
}

/* message container */
#messagesent 
{
	margin-top: 10px;
	padding: 10px;
	background-color: #00bfff;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	display: none; /* hide the message by default */
  }
/* CSS FORM ENDS HERE */













































.content001
{
	border-bottom: solid #b30000;
	border-bottom-width: thin;
	margin: 1%;
}

.buttonscontent001
{
	display: flex;
	justify-content: center;
	align-items:center
	margin-top: 2%;
	margin-bottom: 2%;
	margin-right: 2%;
	margin-left: 2%;
}

.letstalkbuttoncontent001
{
  border: solid #b30000;
  color: white;
  background-color: #b30000;
  border-radius: 2px;
  padding: 16px 32px;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 3%;
  margin-left: 3%;
}

.letstalkbuttoncontent001:hover
{
  border: solid #b30000;
  color: #b30000;
  background-color: white;
}

.emailusbuttoncontent001
{
  border: solid #1767AC;
  color: #1767AC;
  background-color: white;
  border-radius: 2px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 3%;
  margin-left: 3%;
}

.emailusbuttoncontent001:hover
{
  border: solid #1767AC;
  color: white;
  background-color: #1767AC;
}

/* CSS CONTENTANIMATED STARTS HERE */
.contentanimated
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border-bottom: solid #1767AC;
	border-bottom-width: thin;
	margin: 1%;
}

/* CSS CONTENTANIMATED ENDS HERE */

/* CSS CONTENT002 STARTS HERE */
.content002
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border-bottom: solid #1767AC;
	border-bottom-width: thin;
	margin: 1%;
}

.totalsmsyear
{
	justify-content: center;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 3%;
	margin-left: 3%;
}

.content002A
{
	justify-content: center;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 3%;
	margin-left: 3%;
}


.content002B
{
	justify-content: center;
	align-items: center;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 3%;
	margin-left: 3%;
}

.content002C
{
	justify-content: center;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 3%;
	margin-left: 3%;
}

.content002D
{
	justify-content: center;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 3%;
	margin-left: 3%;
}
/* CSS CONTENT002 ENDS HERE */

/* CSS CONTENT003 STARTS HERE */
.content003
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 1%;
}

.content003A
{
	justify-content: center;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 3%;
	margin-left: 3%;
}

.content003clients
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.content003B
{
	justify-content: center;
	align-items: center;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 3%;
	margin-left: 3%;
}

.content003C
{
	justify-content: center;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 3%;
	margin-left: 3%;
}

.content003D
{
	justify-content: center;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 3%;
	margin-left: 3%;
}

.content003E
{
	justify-content: center;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 3%;
	margin-left: 3%;
}

.content003F
{
	justify-content: center;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 3%;
	margin-left: 3%;
}

/* CSS CONTENT003 ENDS HERE */


/* CSS FOOTER STARTS HERE */
li
{
	display: inline-block;
	justify-content: stretch;
	align-items: center;
	margin-left: 0.25em 0.75em;
	color: #1767AC;
}

li:visited
{
	display: inline-block;
	justify-content: stretch;
	align-items: center;
	margin-left: 0.25em 0.75em;
	color: #1767AC;
}

li:active
{
	font-weight: bold;
	display: inline-block;
	justify-content: stretch;
	align-items: center;
	margin-left: 0.25em 0.75em;
	color: #1767AC;
}

li:hover
{
	font-weight: bold;
	transition: ease 0.2s;
	border-bottom: solid;
	border-bottom-color: #b30000;
}

.footer
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	background: white;
	border-top: solid #b30000;
	border-top-width: thin;
	margin: 1%;
}

.footercolumn
{
	display: flex;
	flex-direction: column;
	margin-top: 1em;
	width: 150px;
}

.footertitle
{
	display: inline-block;
	justify-content: stretch;
	align-items: center;
	margin-left: 0.25em 0.75;
	color:  #1767AC;
}

.footertitle:visited
{
	display: inline-block;
	justify-content: stretch;
	align-items: center;
	margin-left: 0.25em 0.75;
	color:  #1767AC;
}

.footertitle:active
{
	display: inline-block;
	justify-content: stretch;
	align-items: center;
	margin-left: 0.25em 0.75;
	color:  #1767AC;
}

.footertitle:hover
{
	font-weight: bold;
	transition: ease 0.2s;
	border-bottom: solid;
	border-bottom-color: #b30000;
}

.footerlist
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.footerul
{
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding: 0%; /*For some unknown reason if I delete this there is 40px of padding!*/
	width: auto;
}

.footerletstalkbutton001
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center
	margin-top: 1em;
}

.footerletstalkbutton
{
  border: solid #b30000;
  color: white;
  background-color: #b30000;
  border-radius: 2px;
  padding: 1em;
  text-align: center;
  display: center;
  align-items: center;
  cursor: pointer;
  margin-top: 0.5em;
}

.footerletstalkbutton:hover
{
  border: solid #b30000;;
  color: #b30000;;
  background-color: white;
  font-size: 0.8125em;
}

/* Responsive styles for narrow screens */
@media only screen and (max-width: 600px) 
{
	.footer {
	  flex-direction: column;
	}
  
	.footercolumn {
	  width: auto;
	}
}
/* CSS FOOTER ENDS HERE */