body 
{
  font-family: 'Montserrat', monospace;
}

/* CSSGRID NAVBAR STARTS HERE */
.cssgridnavigationmain
{
	display: grid;
	grid-template-columns:12% 12% 12% 12% 12% 12% 12% auto;
	grid-gap: 2%;
}

.cssgridnavigationitems001
{
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.cssgridnavigationitems002
{
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.cssgridnavigationitems003
{
	grid-column: 3 / 4;
	grid-row: 1 / 2;
}

.cssgridnavigationitems004
{
	grid-column: 4 / 5;
	grid-row: 1 / 2;
}

.cssgridnavigationitems005
{
	grid-column: 5 / 6;
	grid-row: 1 / 2;
}

.cssgridnavigationitems006
{
	grid-column: 8 / 9;
	grid-row: 1 / 2;
}

/* CSSGRID NAVBAR ENDS HERE */




/* CSSGRID FOOTER STARTS HERE */
.cssgridfootermain
{
	display: grid;
	grid-template-columns: ;
	grid-template-rows: ;
	grid-gap: 2%, 2%;
}

.cssgridfooter001
{
	display: grid;
	grid-row: 1 / 2;
}

.cssgridfooter002
{
	display: grid;
	grid-column: 1 / 2;
	grid-row: 2 / 2;
}

.cssgridfooter003
{
	display: grid;
	grid-column: 2 / 3;
	grid-row: 2/ 3;
}

.cssgridfooter004
{
	display: grid;
	grid-column: 3 / 3;
	grid-row: 2 / 4;
}

.cssgridfooter005
{
	display: grid;
	grid-column: 4 / 5;
	grid-row: 2 / 5;
}

li
{
	display: inline-block;
	align-items: center;
	color: #1767AC;
	padding: 1%;
}

li:visited
{
	display: inline-block;
	align-items: center;
	color: #1767AC;
}

li:hover
{
	font-weight: bold;
	transition: ease 0.2s;
	border-bottom: solid;
	border-bottom-color: #b30000;
}

li:active
{
	font-weight: bold;
	display: inline-block;
	align-items: center;
	color: #1767AC;
}

ul
{
	list-style: none;
	padding-left: 0%;
}

/* CSSGRID FOOTER ENDS HERE */




































/* CSS FORM STARTS HERE */
.contactustitle
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 5%;
}

.sectioncontactus
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
}

.imagecontactus
{
	display:flex;
	max-width: 40%;
}

form 
{
	display: flex;
	flex-direction: column;
	align-items: baseline;
	width: 100%;
	padding: 1%;
	border-radius: 5px;
	max-width: 50%;
	margin-left: 5%;
}

input, textarea 
{
	width: 90%;
	padding: 8px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

textarea 
{
	height: 150px;
	width: 90%;
}

button 
{
	width: 90%;
	padding: 2%;
	background-color: #b30000;
	color: #fff;
	border: solid #b30000;
	border-radius: 5px;
	cursor: pointer;
}

button:hover 
{
	border: solid #b30000;
	color: #b30000;
	background-color: white;
}

/* message container */
#messagesent 
{
	margin-top: 10px;
	padding: 10px;
	background-color: #00bfff;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	display: none; /* hide the message by default */
  }
/* CSS FORM ENDS HERE */













































.content001
{
	border-bottom: solid #b30000;
	border-bottom-width: thin;
	margin: 1%;
}

.buttonscontent001
{
	display: flex;
	justify-content: center;
	align-items:center
	margin-top: 2%;
	margin-bottom: 2%;
	margin-right: 2%;
	margin-left: 2%;
}

.letstalkbuttoncontent001
{
  border: solid #b30000;
  color: white;
  background-color: #b30000;
  border-radius: 2px;
  padding: 16px 32px;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 3%;
  margin-left: 3%;
}

.letstalkbuttoncontent001:hover
{
  border: solid #b30000;
  color: #b30000;
  background-color: white;
}

.emailusbuttoncontent001
{
  border: solid #1767AC;
  color: #1767AC;
  background-color: white;
  border-radius: 2px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 3%;
  margin-left: 3%;
}

.emailusbuttoncontent001:hover
{
  border: solid #1767AC;
  color: white;
  background-color: #1767AC;
}

/* CSS CONTENTANIMATED STARTS HERE */
.contentanimated
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border-bottom: solid #1767AC;
	border-bottom-width: thin;
	margin: 1%;
}

/* CSS CONTENTANIMATED ENDS HERE */

/* CSS CONTENT002 STARTS HERE */
.content002
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border-bottom: solid #1767AC;
	border-bottom-width: thin;
	margin: 1%;
}

.totalsmsyear
{
	justify-content: center;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 3%;
	margin-left: 3%;
}

.content002A
{
	justify-content: center;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 3%;
	margin-left: 3%;
}


.content002B
{
	justify-content: center;
	align-items: center;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 3%;
	margin-left: 3%;
}

.content002C
{
	justify-content: center;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 3%;
	margin-left: 3%;
}

.content002D
{
	justify-content: center;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 3%;
	margin-left: 3%;
}
/* CSS CONTENT002 ENDS HERE */

/* CSS CONTENT003 STARTS HERE */
.content003
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 1%;
}

.content003A
{
	justify-content: center;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 3%;
	margin-left: 3%;
}

.content003clients
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.content003B
{
	justify-content: center;
	align-items: center;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 3%;
	margin-left: 3%;
}

.content003C
{
	justify-content: center;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 3%;
	margin-left: 3%;
}

.content003D
{
	justify-content: center;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 3%;
	margin-left: 3%;
}

.content003E
{
	justify-content: center;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 3%;
	margin-left: 3%;
}

.content003F
{
	justify-content: center;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 3%;
	margin-left: 3%;
}

/* CSS CONTENT003 ENDS HERE */


/*
/* Responsive styles for narrow screens */
/*@media only screen and (max-width: 600px) 
{
	.footer {
	  flex-direction: column;
	}
  
	.footercolumn {
	  width: auto;
	}
}
/* CSS FOOTER ENDS HERE */
